@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    max-width: 1900px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    border: #F5F5F5;
    border-width: 4px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}

header h1 {
    width: 80%;
    display: flex;
    padding-left: 15px;
    align-content: center;
    justify-content: flex-start;
    font-size: 28px;
    font-weight: bold;
    color: #333333;

}

.itens ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: normal;
    color: #828282;
}

.itens ul li:hover {
    color: black;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.vitrine {
    max-width: 800px;

}

.card {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.card li {
    width: 207px;
    height: 380px;
    margin: 15px;
    text-align: start;
    padding-left: 10px;
    padding-top: 5px;
    border: solid #F5F5F5 2px;
    background-color: #F5F5F5;
}

.card li:hover {
    border-color: black;
}

.card li img {
    width: 200px;
    height: 130px;
    object-fit: fill;
}

.card li h4 {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 30%;
    color: #FFFFFF;
    background-color: black;
}

.card li h3 {
    font-size: 20px;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.descricao {
    font-size: 14px;
    padding-left: 10px;
    color: #333333;
}

.preco {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    color: black;
}

.card-button {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.botao {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #F5F5F5;
    border-color: black;
    border-radius: 10px;
    background-color: black;
}

.botao:hover {
    color: black;
    background-color: #F5F5F5;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    width: 600px;
    height: 300px;
    margin: 15px;
    text-align: start;
    padding-left: 1px;
    border: none;

}

.barra {
    height: 0px;
}

.barra input {
    height: 50px;
    width: 225px;
    gap: 10px;
    background-color: #F5F5F5;
    font-size: 16px;
    border: none;
}

.barra button {
    height: 50px;
    width: 125px;
    font-size: 16px;
    border: none;
    color: #F5F5F5;
    background-color: black;
}

.barra button:hover {
    color: black;
    background-color: #F5F5F5;
}

.carrinho {
    margin-top: 80px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.titulo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    color: #F5F5F5;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
}

.emptyCar {
    display: none;
}

.cart {
    width: 350px;
    max-height: 300px;
    overflow: auto;
    background-color: #F5F5F5;
}

.cart ul {
    list-style: none;
}

.cart ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
    text-align: start;
    border: solid #F5F5F5 2px;
    border-radius: 10px;
}

.cart ul li:hover {
    border-color: black;
}

.cart ul li img {
    width: 150px;
    max-height: 60px;
    object-fit: fill;
    border-top-left-radius: 10px;
}

.box-mini {
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: start;

}

.nome2 {
    width: 200px;
    height: 10px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;

}

.p1 {
    width: 200px;
    height: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}

.b1 {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #F5F5F5;
    border-color: black;
    border-radius: 10px;
    background-color: black;
}

.b1:hover {
    color: black;
    background-color: #F5F5F5;
}

.calculo {
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333333;

}

.quantidade {
    color: #F5F5F5;
    font-size: 16px;
    padding-left: 10px;

}

.valor {
    color: #F5F5F5;
    font-size: 16px;
    padding-left: 10px;
}